@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* Esto es el inicio */
.wrapper {
  width: 100vw;
  height: 120vh;
  background-color: #191c32;
  color: #fff;
  position: relative; 
  min-height: 150vh;
}
/* Esto es el menu */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  z-index: 1000; 
 
}

.brand {
  margin-top: 1px;
  
}
.brand span {
  color:rgb(255, 0, 115) ;
}
.menu {
  display: flex;
  margin-left: 50px; /* Ajusta el valor del margen según tus necesidades */
  font-weight: bold;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 30px; /* Ajusta el valor de padding según tus necesidades */
  font-size: 20px;
}

.menu li:hover a{
  background-color: rgb(255, 0, 115);
  color: #0a25ee;
}

.menu .active {
  color: rgb(255, 0, 115);
 
}


.menu li a:hover {
  color:white;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color:rgb(255, 0, 115);
}
.info-content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 4s ease-out forwards; /* Ajusta la duración según tus necesidades */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.download-cv {
  padding: 10px 20px;
  background-color: rgb(255, 0, 115);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid rgba(80, 98, 98, 0.478);
  width: 520px;
  height: 620px;
  z-index: 1;
  margin-left: 50px; 
  opacity: 0.7;
  margin-top: 50px;;
 
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.443);
  font-weight: 600;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(255, 0, 115);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}


.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color:brown;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(/img/sendero.png);
  background-size: cover;
}
.card__img1 {
  width: 100%;
  height: 150px;
  background-image: url(/img/pokemon.png);
  background-size: cover;
}
.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.project-details {
  display: none;
  padding: 20px;
  background-color: #fff;
  color: #191c32;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.project-details-content {
  display: none;
  padding: 20px;
  background-color: #fff;
  color: #191c32;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items:normal;
}

.contact-section img {
  width: 350px;
  height: 400px;
  bottom: 0px;
}


.timelineh2{
  grid-column: 5/10;
  padding: 2em;
  height: 600px;
}


.timeline {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  list-style: none;
  left:10%;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.8%;
  width: 1px;
  background-color: #ff27a2;
  transform: translateX(-50%);
}

.event {
  position: relative;
  margin-bottom: 60px;
}

.event:before {
  content: attr(data-date);
  position: absolute;
  top: 10px;
  right: calc(100% + 20px);
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 2em;
  color: #666;
  left:-40%;
}



.event p {
  margin: 0;
}

.event:last-child {
  margin-bottom: 0;
}

.event:after {
  content: '';
  position: absolute;
  top: 21%;
  left: -10%;
  width:20px;
  height: 20px;
  border-radius: 60%;
  background-color: #ff5da3;
  transform: translate(-50%, -50%);
}


.container-habilidades {
  margin: 0 auto;
  display: flex;
  align-items:normal;
}


.habilidades-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.habilidad {
  text-align: center;
  margin-bottom: 30px;
}

.habilidad img {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 50px;
  border-radius: 50%; /* Para imágenes redondas, opcional */
  margin-bottom: 10px;
}




.portfolio{
  width: 100vw;
  height: 40vw;;
  background-color: #191c32;
  color: #fff;
  min-height: 75vh;
}
.contact-section{
  width: 100vw;
  height: 30vw;;
  background-color: #191c32;
  color: #fff;
}
.habilidades-section {
  width: 100vw;
  height: 52vw;;
  background-color: #191c32;
  color: #fff;
  min-height: 75vh;
  left: 40%;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  height: 380px;
  background-color: #582b3ce1;
  margin: 1em;
  min-height: 53vh;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(/img/pokemon.png);
  background-size: cover;
}
.card__img1 {
  width: 100%;
  height: 150px;
  background-image: url(/img/sendero.png);
  background-size: cover;
}
.card__img2 {
  width: 100%;
  height: 150px;
  background-image: url(/img/cancion.png);
  background-size: cover;
}
.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}



.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 30%;
  margin-top: 2em;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: rgb(0, 187, 255);
}


.habilidad p {
  color: #ffffff;
}
.conocimientos-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.columna-izquierda {
  width: 400px;
  float: left;
}

.columna-derecha {
  width: 400px;
}

.columna-centro {
  width: 400px;
}

.barra-conocimiento {
  height: 10px;
  background-color: rgba(14, 255, 255, 0.63);
  margin-bottom: 15px;
  border-radius: 5px; /* Añade bordes redondeados */
  transition: width 1s ease; /* Añade una transición más lenta */
  width: 100%; /* Inicia con la barra completa */
}

.barra-conocimiento span {
  display: block;
  height: 100%;
  border-radius: 5px; /* Mismo radio para mantener bordes redondeados */
}

/* Estilos para resaltar las barras cuando el mouse pasa sobre ellas */
.barra-conocimiento:hover {
  background-color: #4EC19F;
}



.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgba(0, 242, 255, 0.37);
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

/* Estilos para pantallas más pequeñas (tablets) */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1em;
  }
  .menu {
    display: none; /* Hide the menu by default on smaller screens */
    flex-direction: column;
    text-align: center;
  }
  .menu.active {
    display: flex; /* Show the menu when the toggle is active */
  }

  .main {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .main img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .portfolio{
    width: 100vw;
    height: 180vw;;
    background-color: #191c32;
    color: #fff;
  }

  .about-info {
    grid-column: 1/10;
    padding: 3em;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.443);
    font-weight: 600;
  }
  .about img {
    width: 0%;
    grid-column: 1/5;
    opacity: 0%;
  }
  .menu-toggle {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #333; /* Puedes cambiar este color según tu diseño */
    color: #fff; /* Puedes cambiar este color según tu diseño */
  }
  .menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px; /* Ajusta el valor de padding según tus necesidades */
    font-size: 20px;
  }
  
  .menu li:hover a{
    background-color: rgb(255, 0, 115);
    color: #0a25ee;
  }
  
  .menu .active {
    color: rgb(255, 0, 115);
   
  }
  
  
  .menu li a:hover {
    color:white;
  }
  .habilidades-section {
  width: 100vw;
  height: 82vw;;
  background-color: #191c32;
  color: #fff;
  min-height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
  position: relative; 
}
  

.card {
  width: 350px;
  height: 470px;
  background-color: #582b3ce1;
  margin: 1em;
  min-height: 63vh;
}

.event:before {
  content: attr(data-date);
  position: absolute;
  top: 10px;
  right: calc(100% + 20px);
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 1em;
  color: #666;
  left:-45%;
}
.event:after {
  content: '';
  position: absolute;
  top: 21%;
  left: -18%;
  width:20px;
  height: 20px;
  border-radius: 60%;
  background-color: #ff5da3;
  transform: translate(-50%, -50%);
}
}
